body{
  background-image: url("/assets/background/nuvens.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  font: normal 15pt Arial;
  line-height: 1.1;
}

div#txt {
  width: 32%;
  height: 67%;
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  border-color: rgba(240, 248, 255);
  border-style: solid;
  border-radius: 7%;
  background-color: rgba(169,169,169, 0.9);
}

form {
  margin: 25% 15%;
}

div#btn {
  margin: 10% 0%;
}
