<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        body{
            margin-top: 10%;
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <h1>Formulário de Cadastro</h1>

    <!--<a href="/pagina2">Clique aqui</a>--> 
    <form action="/pagina2" method="get">
        <label for="nome">Nome:</label>
        <input type="text" placeholder="Digite seu nome aqui" id="nome" name="nome" required>
        <br><br>
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade" min="0" max="100" required>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
