<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>Cadastrar Produtos</h1>
    <form action="/adicionar" method="post" enctype="multipart/form-data">
        <label for="nome">Nome do Produto: </label>
        <input type="text" name="nome" id="nome" required>
        <br><br>
        <label for="valor">Valor do Produto: </label>
        <input type="number" name="valor" id="valor" step="0.01" min="0" required>
        <br><br>
        <label for="imagem">Imagem do Produto: </label>
        <input type="file" name="imagem" id="imagem" required>
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>